@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* App.css */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.signup-wrapper {
  max-width: 400px;
  margin: 0 auto;
}

.signup-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-group {
  margin-bottom: 20px;
}

.signup-item {
  margin-bottom: 16px;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.signup-actions {
  text-align: center;
}

.signup-button {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
}

.signup-login-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}
.data-loader {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -26px;
  text-align: center;
  padding: 2px;
}

.data-loader > div:last-child {
  position: relative;
  width: 80px;
  height: 15px;
  margin: 1em auto;
}

.data-loader > div:last-child > div {
  position: absolute;
  top: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.data-loader > div:last-child > div:nth-child(1) {
  left: 8px;
  animation: data-loader-1 0.6s infinite;
}

.data-loader > div:last-child > div:nth-child(2) {
  left: 8px;
  animation: data-loader-2 0.6s infinite;
}

.data-loader > div:last-child > div:nth-child(3) {
  left: 32px;
  animation: data-loader-2 0.6s infinite;
}

.data-loader > div:last-child > div:nth-child(4) {
  left: 56px;
  animation: data-loader-3 0.6s infinite;
}

@keyframes data-loader-1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes data-loader-2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@keyframes data-loader-3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.signup-login-link span {
  color: #007bff;
  cursor: pointer;
}

/* Add any additional styling based on your preferences */
